<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/edit.css"> 

<body>
    <%- include('./includes/header.ejs') %>
            
    <main>
            <% 
                function formatNumber(num) {
                    return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')   
                }
            %>
            <nav id="navBack">
                <a href="javascript:history.back()" id="backArrow"><i class="fas fa-arrow-left"></i></a>
            </nav>
            <h1 id="editTitle">Edición de operaciones</h1>
            <% if (operation) { %>
                <form action="/operations/<%= operation.id %>?m=PUT" method="post" id="editForm">
                    <p><b>Tipo de operación: <%= operation.type %> </b></p>
                    <label for=""> Concepto
                        <input type="text" name="description" id="description" value="<%= operation.description %> ">
                    </label>
                    <label for="">Monto total
                        <input type="number" min="0" name="total" id="total" value="<%=operation.value%>"></input>
                    </label>
                    <label for="">Fecha de emision
                        <input type="date" name="date" id="date" value="<%=operation.date%>">
                    </label>
                    <button type="submit" id="editBtn">Guardar cambios</button>
                </form>
            <% }  else { %>
                <p id="exist">No existe la operación buscada</p>
             <% } %>
    </main>
</body>
</html>