<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/home.css"> 

<body>
    <%- include('./includes/header.ejs') %>

    <main>
        <% 
            let incomes = []
            for(let i=0; i < all.length; i++){
                if(all[i].type == 'ingreso'){
                    incomes.push(all[i].value)
                }
            }     
            let incomesParse  = incomes.map((n) =>parseInt(n));           
            let allIncomes = incomesParse.reduce((total,num) => total + num)
        %> 
        <% 
            let outcomes = []
            for(let i=0; i < all.length; i++){
                if(all[i].type == 'egreso'){
                    outcomes.push(all[i].value)
                }
            }     
            let outcomesParse  = outcomes.map((n) =>parseInt(n));           
            let allOutcomes = outcomesParse.reduce((total,num) => total + num)
         %> 
        <section id="totalsSection">
            <p><b>Ingresos totales :</b> $ <%= allIncomes %> </p> <a href="/operations/incomes">Ver todos</a>
            <p><b>Egresos totales :</b> $ <%= allOutcomes %> </p>
        </section>

        <h1 id="homeTitle">Últimas operaciones :</h1>
        <section id="homeSection">
            <table id="homeTable">
                <% operations.forEach(element => { %>
                        <tr>
                            <td id="icon"> 
                                <% if (element.type == 'ingreso') { %>
                                    <i class="fas fa-arrow-up"></i>
                                <% } else { %>
                                    <i class="fas fa-arrow-down"></i>
                                <% } %> 
                            </td>
                            <td class="tableTds" id="tdDesc"><%= element.description %> </td>
                            <td class="tableTds" id="tableValue">$ <%= element.value %> </td>
                            <td class="tableTds" id="tableDate"><%= element.date %> </td>
                        </tr>
                <% }) %>
            </table>
        </section>
    </main>
</body>
</html>