<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/incomes.css"> 

<body>
    <%- include('./includes/header.ejs') %>

    <main>
        <h1>Todos los ingresos :</h1>
        <table>
            <% incomes.forEach(element => { %>
                <tr>
                    <td class="tableTds" id="tableDesc"><%= element.description %> </td>
                    <td class="tableTds" id="tableValue">$ <%= element.value %> </td>
                    <td class="tableTds" id="tableDate"><%= element.date %> </td>
                </tr>
            <% }) %>
        </table>
    </main>

</body>
</html>