<%- include("./includes/head.ejs")  %> 
<link rel="stylesheet" href="/css/list.css">

<body>
    <%- include('./includes/header.ejs') %>
    
    <main>
        <% 
             function formatNumber(num) {
                return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')   
             }
         %>
        <h1 id="listTitle">Todas las operaciones :</h1>
            <section id="listSection">
                <table id="listTable">
                    <tr id="firstTr">
                        <td id="icon"></td>
                        <td class="tableTds" id="tableDesc">Descripción</td>
                        <td class="tableTds" id="tableValue">Valor</td>
                        <td class="tableTds" id="tableDate">Fecha de emisión</td>
                    </tr>
                    <% operations.forEach(element => { %>
                        <tr>
                            <td id="icon"> 
                                <a href="/operations/edit/<%= element.id %>"><i class="fas fa-pen"></i></a> 
                                <% if (element.type == 'ingreso') { %>
                                    <i class="fas fa-arrow-up"></i>
                                <% } else { %>
                                    <i class="fas fa-arrow-down"></i>
                                <% } %> 
                            </td>
                            <td id="tableDesc" class="tableTds"><%= element.description %></td>
                            <td id="tableValue" class="tableTds">$ <%= formatNumber(element.value) %></td>
                            <td id="tableDate" class="tableTds"> <%= element.date %></td>
                        </tr>
                    <% }) %>
                </table>
            </section>
    </main>
</body>