<%- include("./includes/head.ejs")  %> 
<link rel="stylesheet" href="/css/list.css">

<body>
    <%- include('./includes/header.ejs') %>
    
    <main>
        <h1 id="listTitle">Todas las operaciones :</h1>
            <section id="listSection">
                <table id="listTable">
                    <% operations.forEach(element => { %>
                        <tr>
                            <td> <%= element.type %></td>
                            <td id="tableDesc" class="tableTds"> <%= element.description %></td>
                            <td id="tableValue" class="tableTds"> <%= element.value %></td>
                            <td id="tableDate" class="tableTds"> <%= element.date %></td>
                        </tr>
                    <% }) %>
                </table>
            </section>
        
    </main>
</body>