<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/outcomes.css"> 

<body>
    <%- include('./includes/header.ejs') %>

    <main>
        <% 
             function formatNumber(num) {
                return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')   
             }
         %>
         <nav id="navBack">
            <a href="javascript:history.back()" id="backArrow"><i class="fas fa-arrow-left"></i></a>
        </nav>
        <h1 id="outTitle">Todos los egresos :</h1>
        <section id="outSection">
            <table id="outTable">
                <tr id="firstTr">
                    <td></td>
                    <td class="tableTds" id="tbDesc">Descripción</td>
                    <td class="tableTds" id="tbValue">Valor</td>
                    <td class="tableTds" id="tbDate">Fecha de emisión</td>
                </tr>
                <% outcomes.forEach(element => { %>
                    <tr>
                        <td> 
                            <a href="/operations/edit/<%= element.id %>"><i class="fas fa-pen"></i></a>
                        </td>
                        <td class="tableTds" id="tableDesc"><%= element.description %> </td>
                        <td class="tableTds" id="tableValue">$ <%= formatNumber(element.value) %> </td>

                        <% 
                                var date = element.date;
                                var dateArray = date.split("-");

                                var newDate = dateArray[2] + '/' + dateArray[1] + '/' + dateArray[0];
                        %> 

                        <td class="tableTds" id="tableDate"><%= newDate %> </td>
                    </tr>
                <% }) %>
            </table>
        </section>
    </main>
</body>
</html>