<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/outcomes.css"> 

<body>
    <%- include('./includes/header.ejs') %>

    <main>
        <h1 id="outTitle">Todos los egresos :</h1>
        <section id="outSection">
            <table id="outTable">
                <% outcomes.forEach(element => { %>
                    <tr>
                        <td> 
                            <a href="/operations/edit/<%= element.id %>"><i class="fas fa-pen"></i></a>
                        </td>
                        <td class="tableTds" id="tableDesc"><%= element.description %> </td>
                        <td class="tableTds" id="tableValue">$ <%= element.value %> </td>
                        <td class="tableTds" id="tableDate"><%= element.date %> </td>
                    </tr>
                <% }) %>
            </table>
        </section>
        
    </main>

</body>
</html>