<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/outcomes.css"> 

<body>
    <%- include('./includes/header.ejs') %>

    <main>
        <% 
             function formatNumber(num) {
                return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')   
             }
         %>

        <h1 id="outTitle">Todos los egresos :</h1>
        <section id="outSection">
            <table id="outTable">
                <tr id="firstTr">
                    <td id="icon"></td>
                    <td class="tableTds" id="tableDesc">Descripción</td>
                    <td class="tableTds" id="tableValue">Valor</td>
                    <td class="tableTds" id="tableDate">Fecha de emisión</td>
                </tr>
                <% outcomes.forEach(element => { %>
                    <tr>
                        <td> 
                            <a href="/operations/edit/<%= element.id %>"><i class="fas fa-pen"></i></a>
                        </td>
                        <td class="tableTds" id="tableDesc"><%= element.description %> </td>
                        <td class="tableTds" id="tableValue">$ <%= formatNumber(element.value) %> </td>
                        <td class="tableTds" id="tableDate"><%= element.date %> </td>
                    </tr>
                <% }) %>
            </table>
        </section>
    </main>
</body>
</html>