<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/show.css"> 

<body>
    <%- include('./includes/header.ejs') %>
        
    <main>
        <% if (operation) { %>
            <p> Usted está viendo un <%= operation.type %>  </p>
             <p>Concepto : <%= operation.description %> </p>
            <p>Monto total : <%= operation.value %> </p>
            <p>Fecha de emision : <%=operation.date %> </p>
        <% }  else { %>
           <p>No existe la operación buscada</p>
        <% } %>

        <a href="/operations/edit/<%= operation.id %> "><i class="fas fa-pen"></i></a>
    </main>
</body>
</html>